<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.wrowclif.recipebox"
      android:versionCode="4"
      android:versionName="1.10">
    <uses-sdk android:minSdkVersion="10"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:label="@string/app_name" android:icon="@drawable/recipe_box">
        <activity android:name=".ui.Main"
                  android:label="@string/app_name"
                  android:icon="@drawable/recipe_box" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/rcpb" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/zip" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.RecipeDisplay"/>
        <activity android:name=".ui.IngredientsDisplay"/>
        <activity android:name=".ui.InstructionsDisplay"/>
        <activity android:name=".ui.RecipeTabs"
					android:windowSoftInputMode="adjustPan" />
		<activity android:name=".ui.Browse" />
		<activity android:name=".ui.BrowseCategories" />
		<activity android:name=".ui.CategoryList" />
    </application>
</manifest>
